<h1>Create Puppy</h1>
<form method="post" action="/">
  <label for="name">Enter name: </label>
  <input type="text" name="name" id="name"><br>
  <label for="breed">Enter Breed: </label>
  <input type="text" name="breed" id="breed"><br>
  <label for="age">Enter Age: </label>
  <input type="text" name="age" id="age"><br>
  <input type="submit" value="submit" id="submit">
</form>
